html {
  font-family: helvetica;
}

/*This ends font-family*/

h1 {
  color: khaki;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
}

h3 {
  color: white;
  font-size: 32px;
  font-weight: bold;
}

h3, #Brushes {
  Background color: mediumspringgreen;

}

h3, #Frames {
  background-color: lightcoral;
}

h3, #Paint {
  background-color: skyblue;
}

p{
  color: black;
}

#price{
  font-weight: bold;
  color: blue;
}

/*This ends class colors*/
